# Day 4
* Data Types
     * Numbers
     * Strings
     * Variable Assignment
     * Printing
     * Strings Methods
     * Lists
     * Dictionaries
     * Boolians
     * Tuples
     * Sets
* Basic Operations
     * Comparison Operators
     * if, elif, else statements
     * for loops
     * while loops
     * range ()
     * list comprehension
     * functions
     * lambda expressions
     * map and filter

* Integers:... -5, -4, -3, -2, -1, 0, 1, 2, 3, 4...

* Floats: decimals, rationals, irrationals
* exp is $\pi$, $\frac{1}{3}$

In [1]:
type(3.14)

float

In [2]:
type(0.33)

float

* Strings: Example "Moussa", 'Howard', ' ', '2', '%'

In [3]:
print(type('I am single quote'))

<class 'str'>

In [4]:
print(type("I am double quotes"))

<class 'str'>

In [5]:
print(type(" "))

<class 'str'>

* Variable Assignment: Never start a variable name with a number ex.) 2x = "Hello"
* Can do this: x2 = "hello", or x_2="hello"
* don't do this: 10 = x, do x = 10
* don't do this: y = 'world!'
* variable goes on left, value goes on right

In [8]:
10 = x
print(x)

SyntaxError: cannot assign to literal (1189946331.py, line 1)

In [9]:
x = 10
print (x)

10

In [10]:
x = 2022

In [14]:
name = 'Mya Walker'
print(name)

Mya Walker

In [15]:
name

'Mya Walker'

In [27]:

New_first = "Mya "
New_last = "Walker"
print("Greetings,", New_first, New_last, 'Welcome to our company')

Greetings, Mya  Walker Welcome to our company

In [28]:
print('Greetings, {}{}'. format(New_first, New_last), 'welcome to our company')

Greetings, Mya Walker welcome to our company

In [29]:
name = 'John'

In [34]:
print(f"Hello, {name}")

Hello, John

In [9]:
name = 'Enami'
greetings = 'Welcome to data science class'

In [10]:
print('Hello {}\n {}'.format(name, greetings))

Hello Enami
 Welcome to data science class

In [18]:
print('Hello ' + name +' '+ greetings)

Hello Enami Welcome to data science class

* ### string methods

In [26]:
# upper() method
name = 'naomi'

In [20]:
print(name.upper())

ENAMI

In [25]:
# title() method
print(name.title())

Naomi

In [22]:
# lower() method
second_name = 'JOHN'

In [23]:
print(second_name.lower())

john

In [27]:
# center() method
center_name = 'Saujane'

In [28]:
print(center_name.center(60))

                          Saujane

In [31]:
# count() method
print(center_name.count('a'))

2

In [32]:
# endwith() method
print(center_name.endswith('e'))

True

In [33]:
# isnumeric() method
num = '123'

In [34]:
type(num)

str

In [35]:
print(num.isnumeric())

True

In [36]:
num_1 = num.isnumeric()

In [37]:
type(num_1)

bool

In [43]:
# strip method
last_name = '    Smith'

In [44]:
len(last_name)

9

In [45]:
r_name = last_name.rstrip()

In [46]:
len(r_name)

9

In [47]:
l_name = last_name.lstrip()

In [48]:
l_name

'Smith'

In [49]:
len(l_name)

5

In [50]:
sname = last_name.strip()

In [51]:
sname

'Smith'

In [52]:
len(sname)

5

* ## List
Lists are used to store multiple items in a single variable. List members are created inside square brackets

In [1]:
a_list = ['apple', 'orange', 'mango', 'banana']
a_list

['apple', 'orange', 'mango', 'banana']

In [2]:
type(a_list)

list

In [3]:
# append method
a_list.append('peach')

In [3]:
a_list

NameError: name 'a_list' is not defined

In [4]:
# pop method
a_list.pop(1)

NameError: name 'a_list' is not defined

In [6]:
a_list[0]

'apple'

In [7]:
a_list[-1]

'peach'

In [9]:
a_list[3]

'peach'

In [13]:
b_list = ['walter', 'mason', 'clarissa', 'knox', 'mom', 'dad', 'jasey', 'aly', 'dell', 'summer']

In [14]:
b_list.append('laura')

In [16]:
b_list

['walter',
 'mason',
 'clarissa',
 'knox',
 'mom',
 'dad',
 'jasey',
 'aly',
 'dell',
 'summer',
 'laura']

In [17]:
b_list.pop(8)

'dell'

In [19]:
b_list[-1]

'laura'

In [24]:
# remove method
a_list.remove('banana')
a_list

['apple', 'peach']

In [25]:
b_list = a_list.copy()
b_list

['apple', 'peach']

 * ## dictionaries
 Are used to store key: value. The items in the dictionary are created inside curly brackets

In [31]:
#exp: 
cars = {'make': 'Toyota', 'Model':'Land Cruiser', 'Year':'2022'}
cars

{'make': 'Toyota', 'Model': 'Land Cruiser', 'Year': '2022'}

In [32]:
cars['make']

'Toyota'

In [35]:
cars['Year'] = 2023
cars

{'make': 'Toyota', 'Model': 'Land Cruiser', 'Year': 2023, 'year': 2023}

In [36]:
cars['color'] = 'black'
cars

{'make': 'Toyota',
 'Model': 'Land Cruiser',
 'Year': 2023,
 'year': 2023,
 'color': 'black'}

In [37]:
cars.keys()

dict_keys(['make', 'Model', 'Year', 'year', 'color'])

In [38]:
cars.values()

dict_values(['Toyota', 'Land Cruiser', 2023, 2023, 'black'])

In [42]:
mycar = {'make': 'volkswagen', 'model': 'tiguan', 'year':2014, 'color':'dark blue', 'owner':'mya'}

In [45]:
mycar

{'make': 'volkswagen',
 'model': 'tiguan',
 'year': 2014,
 'color': 'dark blue',
 'owner': 'mya'}

In [46]:
mycar.keys()

dict_keys(['make', 'model', 'year', 'color', 'owner'])

In [47]:
mycar.values()

dict_values(['volkswagen', 'tiguan', 2014, 'dark blue', 'mya'])