* Basic Operations
    * Comparison Operators
    * if, elif, else statements
    * for loops
    * while loops
    * range ()
    * list comprehension
    * functions
    * lambda expressions
    * map and filter

* ## Range()

In [12]:
range(1,11) # this will return 1, 2, 3, 4, 5, 6, 7, 8, 9, 10
# numbers between 1 (included) and 11 (excluded)

range(1, 11)

In [13]:
range (1,11,2) # this will return 1, 3, 5, 7, 9

range(1, 11, 2)

In [14]:
for num in range(1,11):
    print(num)

1
2
3
4
5
6
7
8
9
10

In [15]:
for _ in range(1,11):
    print(_)

1
2
3
4
5
6
7
8
9
10

In [16]:
for num in range (1,11,2): 
    print(num**2)

1
9
25
49
81

In [3]:
for num in range(1,11):
    if num %2 == 0:
        print:('Even number')
    else:
        print('Odd number')

Odd number
Odd number
Odd number
Odd number
Odd number

* ## while loop

In [19]:
num = 1
while num <11:
    print(num)
    num = num+1
    num += 1

1
3
5
7
9

In [24]:
num = 1
while num <11:
    if num %2 != 0:
        print('odd number')
    else:
        print('even number')
    num = num+1

odd number
even number
odd number
even number
odd number
even number
odd number
even number
odd number
even number

* # List Comprehension

In [1]:
for num in range(1,11,3):
    if num % 2== 0:
        print('even number')
    else:
        print('odd number')

odd number
even number
odd number
even number

In [2]:
[print('Even number') if num %2 == 0 else print('odd number') for num in range (11)]

Even number
odd number
Even number
odd number
Even number
odd number
Even number
odd number
Even number
odd number
Even number

[None, None, None, None, None, None, None, None, None, None, None]

In [6]:
my_list= []
for num in range(1,11,1):
    my_list.append(num**2)
    num += 1
print(my_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [7]:
[num**2 for num in range(11)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [9]:
[[num*3 for num in range(4)] for num in range(5)]

[[0, 3, 6, 9], [0, 3, 6, 9], [0, 3, 6, 9], [0, 3, 6, 9], [0, 3, 6, 9]]

* ## Dictionary Comprehension

In [20]:
name = ['Moussa','Sall','Idris','George']

In [21]:
dico = {k:v for k,v in enumerate(name)}

In [31]:
dico

{0: 'olivia', 1: 'paisley', 2: 'riley', 3: 'megan', 4: 'kayla'}

In [23]:
gpa = [4,3.9,3.8,3.5]

In [25]:
name_gpa = {k:v for k,v in zip(name,gpa)}
name_gpa

{'Moussa': 4, 'Sall': 3.9, 'Idris': 3.8, 'George': 3.5}

In [26]:
[num**2 for num in range (10,21)]

[100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [27]:
gymnast = ['olivia','paisley','riley','megan','kayla']

In [34]:
dico = {k:v for k,v in enumerate(gymnast)}
dico

{0: 'olivia', 1: 'paisley', 2: 'riley', 3: 'megan', 4: 'kayla'}

In [32]:
score = [9,8.7,8.8,9.1,9]

In [36]:
gymnast_score = {k:v for k,v in zip(gymnast,score)}
gymnast_score

{'olivia': 9, 'paisley': 8.7, 'riley': 8.8, 'megan': 9.1, 'kayla': 9}

In [39]:
def square_root_func(num):
    result = num**0.5
    return result

In [40]:
square_root_func(4)

2.0

In [41]:
my_list= []
for num in range(1,11,1):
    my_list.append(num**2)
    num += 1
print(my_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [43]:
def square_func(val):
    my_list = []
    for val in range(1,11):
        my_list.append(val**2)
        val = val+1
    return my_list

In [1]:
mylist = [2,-5,10,21,-17,55,-0.5,-78]

In [6]:
def replace_by_zero(mylist):
    for idx, num in enumerate(mylist):
        if num < 0:
            mylist[idx] = 0
    return mylist

In [7]:
replace_by_zero(mylist)

[2, 0, 10, 21, 0, 55, 0, 0]

In [8]:
mylist

[2, 0, 10, 21, 0, 55, 0, 0]

In [16]:
# 7 = 7x6x5x4x3x2x1
def factorial_func(num):
    p = 1
    i = 1
    while i <= num: 
        p *= i
        i += 1
    return p

In [17]:
factorial_func(7)

5040

* ## lambda expressions

In [18]:
def squares(num):
    result = num**2
    return result

In [19]:
squares(6)

36

In [30]:
l = lambda num: num**2

In [31]:
l(6)

36

In [33]:
ano_list = [-1,4,-5,6,7,-11,20,21,33,-77]

In [34]:
list(map(l,ano_list))

[1, 16, 25, 36, 49, 121, 400, 441, 1089, 5929]

In [39]:
list(filter(lambda num: num %2 != 0, ano_list))

[-1, -5, 7, -11, 21, 33, -77]

In [67]:
md_list = [2,12,-3,-5,17,22.0,99,-88]
# use map to replace the odd numbers by 0
#and use filter too return the non-negative number

In [68]:
def rnge(a_list):
    for i in range(len(a_list)):
        if a_list[i]%2 != 0:
            a_list[i] = 0
        return a_list

In [69]:
list(map(rnge, a_list))

TypeError: object of type 'int' has no len()

In [70]:
[a_list if a_list[i]%2 != 0, for i in range(a_list)]

SyntaxError: invalid syntax (4104297020.py, line 1)